*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 173, 173);
    color: #62addf;
    text-align: center;
}

button, 
input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/* HEADER */
header {
    padding: 30px 0;
}

.title {
    font-size: 50px;
    text-align: center;
}

/* DIV */
#container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin-left: 7em;
    margin-top: 2em;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
    margin-left: 1em;
    margin-right: 2em;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

button.active {
    background-color: rgb(98, 173, 223);
    color: #eee;
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: rgb(255, 173, 173);
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(229, 231, 229, 0.24) 0px 3px 8px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}



.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px;
}

/* FOOTER */
footer {
    margin-top: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

.logo {
    color: #ff0054;
    font-size: 35px;
    display: flex;
}